<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover" />
    <script>
        if (typeof Set === 'undefined' || typeof Set.prototype.keys !== 'function') {
            document.write('<script src="//g.alicdn.com/alime/polyfill/0.1.1/??ie10.js,css-vars.js"><\/script>');
        } else if (!(window.CSS && CSS.supports('color', 'var(--a)'))) {
            document.write('<script src="//g.alicdn.com/alime/polyfill/0.1.1/css-vars.js"><\/script>');
        }
    </script>
    <link rel="stylesheet" href="//g.alicdn.com/code/npm/@ali/chatui-sdk/6.4.0/ChatSDK.css" />
    <style>
        /* https://market.m.taobao.com/app/chatui/theme-builder/index.html */
        .S--wide {
            background-image: url('//img.alicdn.com/tfs/TB1gYlCh7T2gK0jSZPcXXcKkpXa-1440-900.jpg');
        }
    </style>

    {{ if .Debug}}
    <script src="//cdn.iocdn.cc/npm/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
        var vConsole = new window.VConsole();
    </script>
    {{ end }}
</head>

<body>
    <div id="root"></div>
    <script src="//g.alicdn.com/code/npm/@ali/chatui-sdk/6.4.0/ChatSDK.js"></script>
    <script src="//g.alicdn.com/code/npm/@ali/chatui-sdk/6.4.0/isvParser.js"></script>
    <script src="//g.alicdn.com/chatui/extensions/6.0.0/zw-bundle.js"></script>
    <script src="//g.alicdn.com/chatui/icons/2.0.2/index.js"></script>
    <script>
        let time = "{{.Band.Logo}}";
        const components = window.zwBundle.components;
        components.brand = components.header;

        // https://chatbot.console.aliyun.com/ChatSDK#/api
        var bot = new ChatSDK({
            config: {
                // 输入框占位符
                placeholder: "{{.Other.Placeholder}}",
                brand: {{.Band}},
                avatarWhiteList: {{.Avatar.WhiteList}},
                robot: {{.Avatar.Robot}},
                user: {{.Avatar.User}},
                toolbar: [
                    {
                        type: 'image',
                        icon: 'image',
                        title: '相册',
                    },
                ],
                quickReplies: [
                    {
                        name: '发送文本',
                        isHighlight: true,
                    },
                    {
                        name: '可见文本',
                        type: 'text',
                        text: '实际发送的文本',
                        isNew: true,
                    },
                    {
                        name: '点击跳转',
                        type: 'url',
                        url: 'https://www.taobao.com/',
                    },
                    {
                        name: '唤起卡片',
                        type: 'card',
                        card: {
                            code: 'knowledge',
                            data: {
                                text: '这是一个富文本卡片',
                            },
                        },
                    },
                ],

                
                
                feedback: {
                    // 点赞后出的文本
                    textOfGood: '感谢您的评价，我们会继续努力的哦！',
                    // 点踩后出的文本
                    textOfBad: '',
                    // 点踩后是否显示反馈表单
                    needFeedback: true,
                    // 不满意原因列表
                    options: [
                        {
                            // 选项值
                            value: '我没有得到我想要的答案',
                            // 选项显示文本，当与 value 相同时可省略
                            label: '我没有得到我想要的答案',
                        },
                        {
                            value: '界面太难用了',
                        },
                        {
                            value: '我不认可这个规则',
                        },
                    ],
                    // 原因是否必选
                    isReasonRequired: true,
                    modalable: true,
                    // 提交反馈后出的文本
                    textAfterSubmit: '',
                },

                messages: [
                    {
                        code: 'system',
                        data: {
                            text: '智能助理进入对话，为您服务'
                        }
                    },
                    {
                        code: 'text',
                        data: {
                            text: '智能助理为您服务，请问有什么可以帮您？',
                        },
                    },
                ],
            },
            requests: {
                send: function (msg) {
                    if (msg.type === 'text') {
                        // return {
                        //     url: '//api.server.com/ask',
                        //     data: {
                        //         q: msg.content.text,
                        //     },
                        // };

                        // return Promise.resolve({
                        //     code: 'text',
                        //     data: {
                        //         text: "aaaaaaaaaaaaaaaaa",
                        //     },
                        // })
                        return null
                    }
                },
                evaluate(data) {
                    console.log('evaluate:', data);
                },
                feedback(data) {
                    console.log('feedback', data);
                },
            },
            handlers: {
                onToolbarClick(item, ctx) {
                    if (item.type === 'image') {
                        ctx.util.chooseImage({
                            // multiple: true, // 是否可多选
                            success(e) {
                                if (e.files) {
                                    // 如果有 h5 上传的图
                                    const file = e.files[0];
                                    // 先展示图片
                                    ctx.appendMessage({
                                        code: 'image',
                                        data: {
                                            picUrl: URL.createObjectURL(file),
                                        },
                                        position: 'right',
                                    });
                                    ctx.postMessage({
                                        code: 'text',
                                        data: {
                                            text: "res.text",
                                        },
                                        quiet: true, // 不展示
                                    });
                                } else if (e.images) {
                                    // 如果有 app 上传的图
                                    // ..与上面类似
                                }
                            },
                        });
                    }
                }
            },
            components: components
        });

        bot.run();
    </script>

</body>

</html>