<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
<div id="editor" class="w-100 h-100"></div>
<script src="/static/rxjs/dist/bundles/rxjs.umd.min.js"></script>
<script src="/static/lodash/lodash.min.js"></script>
<script src="/static/monaco-editor/min/vs/loader.js"></script>
<script>
    // 获取当前页面的 URL 查询字符串参数
    const params = new URLSearchParams(window.location.search);

    const safeValue = value => {
        if(_.isEmpty(value)) {
            return value
        }
        return JSON.stringify(JSON.parse(value), null, 4)
    }

    // iframe
    // 接参数：bucket，key
    require.config({ paths: { vs: location.origin + '/static/monaco-editor/min/vs' } });

    require(['vs/editor/editor.main'], function () {
        window.editor = monaco.editor.create(document.getElementById('editor'), {
            value: safeValue("{{.Value}}"),
            language: 'json',
            automaticLayout: true,
            readOnly: Boolean(params.readOnly),
            minimap: {
                enabled: Boolean(params.minimap)  // 禁用右侧迷你地图
            }
        });

        // editor.onDidBlurEditorText(function () {
        //     console.log(editor.getValue())
        // })

        const editorChange$ = new rxjs.Subject()
        editorChange$.pipe(
            rxjs.debounceTime(500),
            rxjs.filter(v => _.isEmpty(v) || !_.isError(_.attempt(JSON.parse, v))),
        ).subscribe(value => {
            window.parent.saveConfig("{{.Bucket}}", "{{.Key}}", value)
        })
        editor.onDidChangeModelContent(function () {
            // console.log(editor.getValue())
            editorChange$.next(editor.getValue())
        })

        rxjs.fromEvent(window, 'resize').subscribe(() => editor.layout())

        // window.parent.iframeMode$.subscribe(v => {
        //     editor.layout();
        // })
    });
</script>