{{ template "_base.html" . }}

{{ define "page" }}
<div class="mb-3">
    <label for="placeholder" class="form-label">输入框占位符</label>
    <input type="email" class="form-control" id="placeholder" placeholder="问题咨询" value="{{.Other.Placeholder}}">
</div>
{{ end }}

{{ define "script" }}
<script>
    rxjs.fromEvent(document.querySelector('#placeholder'), "input")
        .pipe(
            rxjs.debounceTime(500),
            rxjs.map(event => event.target.value)
        )
        .subscribe(value => {
            saveConfig("other", "placeholder", value)
        })

</script>
{{ end }}